<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    {{{body}}}
    <script src="/assets/js/simple-select.js"></script>
    <script src="/assets/js/scripts.js"></script>
  </body>
</html>
